<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="_27_XmlInnerTextInstaller" Language="1033" Version="1.0.0.0" Manufacturer="__" UpgradeCode="c30d59d6-a5c9-4b0a-a3c0-0669b3e1d6c1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="_27_XmlInnerTextInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Property Id="VALUE_INSTANCE" Value="ValueC" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="_27_XmlInnerTextInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="cmpWebCONFIG"
                 Guid="{1B527456-4367-4D3D-AAE4-7E5C22FB9192}">
        <File Source="Web.config" />
      </Component>

      <Component Id="cmpSetInnerText"
                 Guid="{C96824AC-1BC9-44A9-94AF-92218C341797}"
                 KeyPath="yes">
        <util:XmlConfig Id="setInnerText"
                        File="[INSTALLFOLDER]Web.config"
                        Action="create"
                        On="install"
                        Node="document"
                        ElementPath="//configuration/applicationSettings/MyWebApp.Properties.Settings/setting[\[]@name='MySetting'[\]]/value"
                        Sequence="1">
          <![CDATA[<MyStupidElement>[VALUE_INSTANCE]</MyStupidElement>]]>
        </util:XmlConfig>
      </Component>
      
		</ComponentGroup>
	</Fragment>
</Wix>
