<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="_40_StoringInputInstaller" Language="1033" Version="1.0.0.0" Manufacturer="__" UpgradeCode="579b7bc1-bc29-4fd7-b79f-886885744329">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="_40_StoringInputInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <UIRef Id="CustomInstallDir"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="_40_StoringInputInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="cmpSampleTXT"
                 Guid="{A6F5F368-0FD3-4E75-AF3B-9FCB12AD1D86}">
        <File Source="Sample.txt" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
