<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="mydb"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=devserver\MYDATABASE; 
         Initial Catalog=Customers; Integrated Security=SSPI" />
  </connectionStrings>
  <system.web>
    <authentication mode="Windows" />
  </system.web>
</configuration>