<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="_51_SixtyFourBitInstaller" Language="1033" Version="1.0.0.0" Manufacturer="__" UpgradeCode="8259c311-d9d5-4b3f-a542-b6b282292c48">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="_51_SixtyFourBitInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="_51_SixtyFourBitInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="cmpProductComponent"
                  Guid="F37D8C16-9423-401B-8CD6-C4F9658A73CB">
        <File Source="Sample.txt"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
